/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Body font */
body {
  font-family: 'Poppins', sans-serif; /* Apply the Poppins font to the whole body */
  background-color: #121212; /* Dark background */
  color: #922121; /* White text color */
}

/* Heading and Paragraph Styling */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

/* Navbar Font */
.navbar {
  font-family: 'Poppins', sans-serif;
}

/* Buttons */
button {
  font-family: 'Poppins', sans-serif;
}

/* Scroll to Top Button */
.scroll-to-top-button {
  font-family: 'Poppins', sans-serif;
}
